@model Data.Models.User
@{
}
<div class="div-center">
    <h1>Change Username</h1>
    <form method="post" asp-controller="Home" asp-action="EditProfile">
        <div>
            <input type="text" id="username"  asp-for="Username" placeholder="New Username">
            <span asp-validation-for="Username"
                  class="text-muted"></span>
        </div>
        <div>
            <input type="password" id="password" asp-for="Password" placeholder="Password">
            <span asp-validation-for="Password"
                  class="text-muted"></span>
        </div>
        <input type="submit" value="Save Changes">
    </form>
</div>